/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(49, 199, 199, 0.842); /* Black*/

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  a{
    color:black;
    text-decoration: none;
  }

  a:active{
    color: black
  }

  a:hover{
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }
/* 
  html {
    background: url(src/images/DonutBorder.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  } */

    .body{
    /* padding-top: 30px; */
    font-family: Arial;
    width: 609px;
    margin: auto;
    text-align: center;
    text-decoration: none;
  }

  h1 {
    margin: auto;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-color: rgba(0, 0, 0, 0.315);
    margin-top: 40px;
    width: 500px;
    font-size: 40px;
    border-radius: 5px;
  }

  .donutButton{
    
    background: rgba(49, 199, 199, 0.479);
    color: rgba(0, 0, 0, 0.651);
    margin: auto;
    border-radius: 5px;
  }

  .buyAutoButton{
    
    background: rgba(194, 49, 199, 0.479);
    color: rgba(0, 0, 0, 0.651);
    margin: auto;
    border-radius: 5px;
  }

  .buyclickMultiplier{
    
    background: rgba(199, 49, 106, 0.479);
    color: rgba(0, 0, 0, 0.651);
    margin: auto;
    border-radius: 5px;
  }

  .resetButton {
    
    background: rgba(49, 199, 81, 0.479);
    color: rgba(0, 0, 0, 0.651);
    margin: auto;
    border-radius: 5px;
  }

  .donutButton:active, .buyAutoButton:active, .buyclickMultiplier:active, .resetButton:active {
    background: rgba(212, 31, 31, 0.664);
    color: rgba(255, 255, 255, 0.61);
    margin: auto;
    border-radius: 5px;
    
  }

  .donutButton:hover, .buyAutoButton:hover, .buyclickMultiplier:hover, .resetButton:hover {
    cursor:pointer;
  }

  .donutButton:disabled, .buyAutoButton:disabled, .buyclickMultiplier:disabled, .resetButton:disabled {
    background: rgba(196, 192, 192, 0.966);
    color: rgba(255, 255, 255, 0.61);
    margin: auto;
    border-radius: 5px;
    cursor: unset;
  }

  footer {
    margin: auto;
    padding-top: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  #priceForAuto, #priceForMultiplier {  
    /*background: black;
    background: radial-gradient(rgb(0 0 0 / 87%), rgba(248, 29, 29, 0.678),  transparent);*/
    /*background: linear-gradient(rgb(255 0 0 / 87%), rgb(255 165 0 / 87%), rgb(0 128 0 / 87%), rgb(0 0 255 / 87%), rgb(128 0 128 / 87%), transparent);*/
    color: rgb(0, 0, 0);
    width: 200px;
    text-align: center;
    padding-left: 10px; 
  }
  .background{
    background-size: 100%;
    height: 975px;
  }

   .container{
    display: grid;
    
  }
  
  section{
    display: flex;
    margin: auto;
  }

#donutsMade, #autoClicker, #priceForAuto, #clickMultiplier, #priceForMultiplier{
  padding-right: 18px;
  padding-left: 8px;
}

.resetButton {
  display: flex;
  margin: auto;
}   



  